<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Promociones
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="atras()" color="" fill="outline" [routerLink]="['/home']">
        Atras
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
<ion-card>
    <ion-item>
      <ion-label>Promocion almuerzo</ion-label>
    </ion-item>
    <ion-card-content>
      <img src="assets/img/almuerz.jpg" alt="" class="center">
    </ion-card-content>

    <ion-card-content>
    Un roll a elección mas una bebida y una porcion de gyosas (3 unidades).
    </ion-card-content>
    <ion-card-content>
      $6.990
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>Promocion almuerzo para 2</ion-label>
  </ion-item>
  <ion-card-content>
    <img src="assets/img/almuerz2.jpg" alt="" class="center">
  </ion-card-content>

  <ion-card-content>
  Dos rolls a elección mas dos bebidas mas una porcion de gyosas (5 unidades).
  </ion-card-content>
  <ion-card-content>
    $11.990
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>Promocion de 4 rolls a elección</ion-label>
  </ion-item>
  <ion-card-content>
    <img src="assets/img/rolls4.jpg" alt="" class="center">
  </ion-card-content>

  <ion-card-content>
  Cuatro rolls de la carta a elección, mas una bebida de 1.5 lts. y dos porciones de gyosas (5 unidades cada una). 
  </ion-card-content>
  <ion-card-content>
    $19.990
  </ion-card-content>
</ion-card>

<ion-card>
<ion-item>
  <ion-label>Promocion de 8 rolls a elección</ion-label>
</ion-item>
<ion-card-content>
  <img src="assets/img/rolls8.jpeg" alt="" class="center">
</ion-card-content>

<ion-card-content>
Ocho rolls de la carta a elección, mas una bebida de 3 lts. una porcion de gyosas (5 unidades) y un sashimi de salmón.
</ion-card-content>
<ion-card-content>
  $39.990
</ion-card-content>
</ion-card>


