<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Para Picar
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="atras2()" color="" fill="outline" [routerLink]="['/home']">
        Atras
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
<ion-card>
    <ion-item>
      <ion-label>Ceviche de reineta</ion-label>
    </ion-item>
    <ion-card-content>
      <img src="assets/img/aji-de-gallina.jpg" alt="">
    </ion-card-content>

    <ion-card-content>
    Exquisita ceviche de reineta con leche de tigre al estilo peruano.
    </ion-card-content>
    <ion-card-content>
      $3.990
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>Gyosas</ion-label>
  </ion-item>
  <ion-card-content>
    <img src="assets/img/aji-de-gallina.jpg" alt="">
  </ion-card-content>

  <ion-card-content>
  Masitas rellenas de pollo, camarón o cerdo (consultar disponibilidad), salteadas en aceite de sésamo (5 unidades). 
  </ion-card-content>
  <ion-card-content>
    $3.290
  </ion-card-content>
</ion-card>

<ion-card>
<ion-item>
  <ion-label>Sashimi de salmón</ion-label>
</ion-item>
<ion-card-content>
  <img src="assets/img/aji-de-gallina.jpg" alt="">
</ion-card-content>

<ion-card-content>
8 cortes del mejor salmón chileno.
</ion-card-content>
<ion-card-content>
  $5.990
</ion-card-content>
</ion-card>


