<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Para beber
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-item>
      <ion-label>Bebidas</ion-label>
    </ion-item>
    <ion-card-content>
      <img src="assets/img/bebidas.jpg" alt="" class="center">
    </ion-card-content>

    <ion-card-content>
    Surtido de bebidas frias (Consultar disponibilidad).
    </ion-card-content>
    <ion-card-content>
      $1.290
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>Cervezas</ion-label>
  </ion-item>
  <ion-card-content>
    <img src="assets/img/cervez.jpg" alt="" class="center">
  </ion-card-content>

  <ion-card-content>
  Las mejores cervezas del sur de Chile (350cc). 
  </ion-card-content>
  <ion-card-content>
    $1.890
  </ion-card-content>
</ion-card>

<ion-card>
<ion-item>
  <ion-label>Jugos naturales</ion-label>
</ion-item>
<ion-card-content>
  <img src="assets/img/jugos.jpg" alt="" class="center">
</ion-card-content>

<ion-card-content>
Los mejores jugos naturales con fruta fresca de la estación (Consultar disponibilidad).
</ion-card-content>
<ion-card-content>
  $1.690
</ion-card-content>
</ion-card>