
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Postres
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  
<ion-content [fullscreen]="true">
    
  <ion-card>
      <ion-item>
        <ion-label>Torta helada de Merengue Frambuesa</ion-label>
      </ion-item>
      <ion-card-content>
        <img src="assets/img/aji-de-gallina.jpg" alt="">
      </ion-card-content>

      <ion-card-content>
      Exquisita torta helada de crema chantilly, merengue y frambuesas.
      </ion-card-content>
      <ion-card-content>
        $2.990
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Babaroise de frutilla</ion-label>
    </ion-item>
    <ion-card-content>
      <img src="assets/img/aji-de-gallina.jpg" alt="">
    </ion-card-content>

    <ion-card-content>
    Postre clásico de la repostería francesa con frutillas naturales. 
    </ion-card-content>
    <ion-card-content>
      $2.990
    </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>Suspiro Limeño</ion-label>
  </ion-item>
  <ion-card-content>
    <img src="assets/img/aji-de-gallina.jpg" alt="">
  </ion-card-content>

  <ion-card-content>
  Tradicional postre de la gastronomia peruana
  a base de manjar.
  </ion-card-content>
  <ion-card-content>
    $2.990
  </ion-card-content>
</ion-card>


  