<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sushi Kitai
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="atras3()" color="" fill="outline" [routerLink]="['/home']">
        Atras
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-item>
      <ion-label>Roll tempura</ion-label>
    </ion-item>

    <ion-card-content>
      
      <img src="assets/img/aji-de-gallina.jpg" alt="" class="center">
      
    </ion-card-content>
    <ion-card-content>
      
    Roll relleno de queso crema, cebollin y pollo, envuelto en masa tempura.
      
    </ion-card-content>

    <ion-card-content>
      $4.990
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Roll acevichado</ion-label>
    </ion-item>

    <ion-card-content>
      <img src="assets/img/Cerdo-a-la-Mostaza.jpg" alt="" class="center"> 
    </ion-card-content>  
    <ion-card-content>
    Roll relleno de queso crema y camaron, envuelto en palta y ceviche de la casa.
    </ion-card-content>

    <ion-card-content>
      $5.990
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Roll de palta</ion-label>
    </ion-item>

    <ion-card-content>
    
      <img src="assets/img/Filete-de-Salmon-Dorado.jpg" alt="" class="center">
    </ion-card-content>
    
    <ion-card-content>
      Roll relleno de queso crema, cebollin y proteina a elección (Pollo, camaron, salmón), envuelto en palta.
      </ion-card-content>
      <ion-card-content>
        $4.990
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Roll de queso crema</ion-label>
    </ion-item>

    <ion-card-content>
     
    <img src="assets/img/Medallon-de-Filete-de-Res.jpg" alt="" class="center">
    </ion-card-content>
    <ion-card-content>
      Roll relleno de palta, cebollin proteina a elección (Pollo, camaron, salmón), envuelto en queso crema.
      </ion-card-content>
      <ion-card-content>
        $4.990
      </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Roll de salmón</ion-label>
    </ion-item>

    <ion-card-content>
      
      <img src="assets/img/Medallon-de-Pavo-Relleno.jpg" alt="" class="center">
    </ion-card-content>
    <ion-card-content>
      Roll relleno de queso crema, cebollin y proteina a elección (Pollo, camaron, salmón), envuelto en salmón.
      </ion-card-content>
      <ion-card-content>
        $4.990
      </ion-card-content>
  </ion-card>

</ion-content>