<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sushi Kitai
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-item>
      <ion-label>Roll tempura</ion-label>
    </ion-item>

    <ion-card-content>

      descripcion..
      <img src="assets/img/aji-de-gallina.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Menu Rolls</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Roll acevichado</ion-label>
    </ion-item>

    <ion-card-content>
      
      Descripcion...
      <img src="assets/img/Cerdo-a-la-Mostaza.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Menu Rolls</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Ceviche de reineta</ion-label>
    </ion-item>

    <ion-card-content>
      descripcion...
      <img src="assets/img/Filete-de-Salmon-Dorado.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Menu Ceviche</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Promocion 50 piezas</ion-label>
    </ion-item>

    <ion-card-content>
      Piezas surtidas....
      <img src="assets/img/Medallon-de-Filete-de-Res.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">Promocion/Piezas</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>----</ion-label>
    </ion-item>

    <ion-card-content>
      -----
      <img src="assets/img/Medallon-de-Pavo-Relleno.jpg" alt="">
    </ion-card-content>

    <ion-item>
      <ion-button fill="outline" slot="end">----</ion-button>
    </ion-item>
  </ion-card>

</ion-content>