

<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Kitai_Sushi 
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button class="btnSalir" (click)="logout()" color="danger" fill="outline" [routerLink]="['/login']">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar>
  <ion-segment value="comidas" (ionChange)="segmentChanged($event)">
    <ion-segment-button  value="comidas">
      <ion-icon name="home"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="pedidos">
      <ion-icon name="fast-food-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="cuentas">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>




