<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Kitai Sushi 
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()" color="danger" fill="outline" [routerLink]="['/login']">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="">
    <ion-label >Bienvenido, {{data.Usuario}} </ion-label>
  </div>
  
  <ion-card>
    <ion-card-header>
      <ion-title>Promociones Kitai</ion-title>
    </ion-card-header>
  
    <ion-card-content>
  
      Los mas ricos y convenientes
      <img src="assets/img/aji-de-gallina.jpg" alt="">
    </ion-card-content>
  
    <ion-row>
      <ion-col>
          <ion-button expand="full" [routerLink]="['/menu']">Promociones</ion-button>
      </ion-col>
    </ion-row>d
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-title>Los mejores rolls</ion-title>
    </ion-card-header>
  
    <ion-card-content>
  
      Fusion Japonesa - Peruana, rolls especiales y mucho mas
      <img src="assets/img/aji-de-gallina.jpg" alt="">
    </ion-card-content>
  
    <ion-row>
      <ion-col>
          <ion-button expand="full" [routerLink]="['/menu']" >Rolls de la carta</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-title>Para picar</ion-title>
    </ion-card-header>
  
    <ion-card-content>
  
      Sashimis, ceviches, camarones apanados
      <img src="assets/img/aji-de-gallina.jpg" alt="">
    </ion-card-content>
  
    <ion-row>
      <ion-col>
          <ion-button expand="full" [routerLink]="['/menu']">Acompañamientos</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-title>Utilidades</ion-title>
    </ion-card-header>
  
    <ion-card-content>
  
      Geolocalizacion
      
    </ion-card-content>
  
    <ion-row>
      <ion-col>
          <ion-button expand="full" [routerLink]="['/geolocalizacion']">Ir</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>