
<ion-header>
  <ion-toolbar>
    <ion-title>Geolocalizacion</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="atras4()" color="" fill="outline" [routerLink]="['/home']">
        Atras
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="ion-padding">
    <ion-item>
      <ion-label>Latitud: {{latitud}}</ion-label>
    </ion-item>
  </div>

  <div class="ion-padding">
    <ion-item>
      <ion-label>Longitud: {{longitud}}</ion-label>
    </ion-item>
  </div>

  <div class="ion-padding">
      <ion-button expand="full" (click)=obtenerCoordenadas()>Ver Ubicación</ion-button>
  </div>




  </ion-content>


