
<!-- Comienza el Content -->
<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Bienvenido</h1>
      <!-- {{interpolacion}} 
          Permite mostrar los datos desde el script a la visual
          verificar el data en el home.page.ts
        
      <p *ngIf="usuario">Usuario: {{usuario}}</p>
      -->
    </ion-label>
  </ion-title>
  
      <ion-card>
        <ion-card-header>
          <ion-title>Los mejores rolls</ion-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="assets/img/aji-de-gallina.jpg" alt="" class="center">
        </ion-card-content>  
        
        <ion-card-content>  
          Fusion Japonesa - Peruana, rolls especiales y mucho mas.
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" shape="round" (click) = "promo()">ROLLS</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-title>Promociones</ion-title>
        </ion-card-header>
      
        <ion-card-content>
          <img src="assets/img/promo.jpg" alt="" class="center">
        </ion-card-content>  
          
        <ion-card-content>        
          Las mejores promociones para compartir.
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" shape="round" (click) = "promo1()">Promociones</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-title>Para picar</ion-title>
        </ion-card-header>
        
        <ion-card-content>  
          <img src="assets/img/papicar.jpg" alt="" class="center">
        </ion-card-content>
        
        <ion-card-content>
        Sashimis, ceviches y gyosas.
        </ion-card-content>
        
      
        <ion-row>
          <ion-col>
            <ion-button expand="full" shape="round" (click) = "promo2()">Acompañamientos</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          <ion-title>Utilidades</ion-title>
        </ion-card-header>
        <!--<ion-card-content>
      
          <img src="assets/img/acomp.jpg" alt="" class="center">
          
        </ion-card-content>-->
        <ion-card-content>
      
          Conozca su ubicación
          
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button class="btnFooter" expand="full" shape="round" (click) = "navigate()">Ir</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
          <ion-title>Nuestra cocina</ion-title>
        </ion-card-header>
      
        <!--<ion-card-content>
      
          <img src="assets/img/aji-de-gallina.jpg" alt="" class="center">
          
        </ion-card-content>-->
        <ion-card-content>
      
          Nuestos valientes cocineros
          
        </ion-card-content>
      
        <ion-row>
          <ion-col>
            <ion-button class="btnFooter" expand="full" shape="round" (click) = "navigate1()">Ver</ion-button>
          </ion-col>
        </ion-row>
      </ion-card>


    </ion-content>
    